<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AppComponent</title>
</head>

<header>
  <h1>Emily's App!</h1>

</header>

<body>

  <div>
    <mat-tab-group class="margins">
      <mat-tab label="Home">
        <ng-template matTabContent>
          <p class="bottom">{{getTimeLoaded(1) | date:'medium'}}</p>
          <app-home></app-home>
        </ng-template>
      </mat-tab>
      <mat-tab label="About">
        <ng-template matTabContent>
          <p class="bottom">{{getTimeLoaded(2) | date:'medium'}}</p>
          <app-about></app-about>
        </ng-template>
      </mat-tab>
      <mat-tab [disabled]="true" label="Other">
        <ng-template matTabContent>
          <p class="bottom">{{getTimeLoaded(3) | date:'medium'}}</p>

        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>

  <!-- <router-outlet></router-outlet> -->
</body>

</html>
